@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

.info-content-container {
  width: 100%;
  display: flex;
}
.info-content--stats-name-number-container {
  white-space: nowrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgba(4, 24, 138, 0.74); */
  padding: 20px 0px 50px 0px;
}

.info-content-stats-name {
  color: rgb(13, 78, 5);
  padding: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  /* border: 1px solid black; */
}

.info-content-stats-number {
  color: white;
}
