.Pokedex.container{

    width: 700px;
    height: 100%;
    border: 1px solid rgb(255, 255, 255, 0.596);
    border-radius: 30px;
    margin: 50px auto;
    
    overflow: auto;
    background-color:rgba(62, 173, 99, 0.788)
  }

  
  .title{
    margin: 40px;
    color:aliceblue;
    text-align: center;
  }