.Pokedex.container{

    width: 800px;
    height: 100%;
    border: 1px solid rgb(32, 214, 123);
    border-radius: 20px;
    margin: 50px auto;
    
    overflow: auto;
    background-color:rgba(62, 173, 99, 0.788)
  }

  
  .title{
    margin: 40px;
    color:aliceblue;
    text-align: center;
  }