.pokeinfo-container{
    margin: 30px;
    color:rgb(248, 235, 114);
   

}

.pokeinfo-name{
    margin-bottom: 30px;  
    text-align: center;
}

.pokeinfo-back-button{
    width:50px;
    border: 2px solid;
    height:30px;
    color:rgb(255, 210, 11)
}

.pokeinfo-header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}